/* General */

body {
    font-family:"Roboto", sans-serif;
    background-color:rosybrown;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 75px 30px;
    background: #f6d6d1;
    box-shadow: 0px 4px 7px #00000026;
    position: fixed;
    width: 100%;
    font-size: 18px;
    color: #3C3642;
}

.nav-item:hover {
    transition: all 0.2s;
    opacity: 0.8;
}
.nav-title {
    text-transform: uppercase;
}
.nav-items {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

/* Main Content */

#main_slider {
    background-image: url( "../images/brandbg.jpg" );
    background-size: cover;
    background-position: center;
    width:auto;
    height:750px;
    padding-top: 55px;
}

.content-wrapper {
    padding: 75px 30px;

}
